.transactions {
    margin-top: 80px;
    tr{
        padding: 0;
        margin: 0;
    }
    table caption {
        color: red;
        font-size: 18px;
        font-weight: bold;
        
    }

    table {
        width: 100%;
        background: lightgray;
        border-collapse: collapse;
        border: 3px solid darkslategray;
    }
    td {
        border: 1px solid darkslategray;
        text-align: center;
    }
    thead{
        border: 3px solid darkslategray;
        color: black;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    button{
        width: 120px;
        margin: auto 0;
    }




   

}
