.transaction-add {
    // width: 330px;
    // height: 140px;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;

    input, select, button {
        margin-top: 15px;
        margin-left: 10px;
        clear: right;
        float: right;

    }
    label {
        margin-top: 10px;
        margin-left: 10px;
        float: left;
        clear: both;
    }
    h2 {
        text-align: center;
        color: darkslateblue;
    }
    span{
        margin-top: 10px;
        margin-left: 10px;
        color: red;
        clear: left;
        float: left;
        //font-size: 150%;
    }
}
