.transactions {

    tr{
        padding: 0;
        margin: 0;
    }
    table caption {
        color: black;
        font-size: 16px;
        font-weight: bold;
    }

    table {
        width: 100%;
    }
    td {
        border: 1px solid darkslategray;
    }
    thead{
        color: black;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    button{
        width: 120px;
        margin: auto 0;
    }

}